<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="fas fa-RealEstate"></i>
                <p>
                    Home
                </p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/Home/Listings" class="nav-link">
                <i class="fas fa-RealEstate"></i>
                <p>
                    Listings
                </p>
            </a>
        </li>
        <!--Add more side menu items-->
    </ul>
</nav>