@{
    ViewData["Title"] = "Privacy Policy";
}
@section scripts {
  <link href="~/css/listings.css" rel="stylesheet">
  <link href="css/normalize.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;1,300&display=swap" rel="stylesheet">
}


<div class="container">
  <div class="cards">
    @for(int i = 0; i<10; i++)
    {
       <section class="card">
        <figure>
          <div class="img-overlay hot-home">
            <img src="https://media-cldnry.s-nbcnews.com/image/upload/t_fit-560w,f_auto,q_auto:best/newscms/2018_30/1355945/home-exterior-today-180726-tease.jpg" alt="Trulli">
            <div class="overlay"><a href="#">view property</a></div>
            <div class="cont">
              <div class="icons-img">
                <button><i class="fas fa-heart"></i></button>
                <button><i class="fas fa-share"></i></button>
              </div>
            </div>
          </div>
          <figcaption>villa in alexandria</figcaption>
        </figure>
        <div class="card-content">

          <p>enjoy serenity of Deering Bay whole day from this spectacular North and..</p>

          <section class="icons-home">
            <div class="name-icon">
              <span>bedrooms</span>
              <div class="icon">
                <i class="fas fa-bed"></i>
                <span>3</span>
              </div>
            </div>
            <div class="name-icon">
              <span>bathrooms</span>
              <div class="icon">
                <i class="fas fa-sink"></i>
                <span>3.5</span>
              </div>
            </div>
            <div class="name-icon">
              <span>area</span>
              <div class="icon">
                <i class="fas fa-vector-square"></i>
                <span>3500</span>
              </div>
            </div>
          </section>
          <section class="price">
            <span>for sale</span>
            <span>$825,000</span>
          </section>
        </div>
      </section>      
    }
  </div>
</div>
