################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/desktop.ini

/RealEstate/obj
/RealEstate/bin

/RealEstate.WEB/obj
/RealEstate.WEB/bin

/RealEstate.Core/obj
/RealEstate.Core/bin

/RealEstate.Infrastructure/obj
/RealEstate.Infrastructure/bin

/RealEstate.Test/obj
/RealEstate.Test/bin

/RealEstate.Api/obj
/RealEstate.Api/bin

/RealEstate.CQRS/obj
/RealEstate.CQRS/bin

/RealEstate.Data/obj
/RealEstate.Data/bin

/RealEstate.Models/obj
/RealEstate.Models/bin

/RealEstate.Orchestration/obj
/RealEstate.Orchestration/bin

/RealEstate.Persistance/obj
/RealEstate.Persistance/bin

/RealEstate.Microservices/obj
/RealEstate.Microservices/bin

