################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/desktop.ini

/RealEstate/obj
/RealEstate/bin

/RealEstate.WEB/obj
/RealEstate.WEB/bin

/RealEstate.Core/obj
/RealEstate.Core/bin

/RealEstate.Infrastructure/obj
/RealEstate.Infrastructure/bin

/RealEstate.Test/obj
/RealEstate.Test/bin

/RealEstate.API/obj
/RealEstate.API/bin

/RealEstate.CQRS/obj
/RealEstate.CQRS/bin

/RealEstate.Data/obj
/RealEstate.Data/bin

/RealEstate.Models/obj
/RealEstate.Models/bin

/RealEstate.Orchestration/obj
/RealEstate.Orchestration/bin

/RealEstate.Persistance/obj
/RealEstate.Persistance/bin

/RealEstate.Microservices/obj
/RealEstate.Microservices/bin

/RealEstate.Crawler/obj/
/RealEstate.Crawler/bin/

/RealEstate.MediatR/bin
/RealEstate.MediatR/obj

/RealEstate.Scraper/bin
/RealEstate.Scraper/obj

/obj/Docker


/Microservices/bin
/Microservices/obj

/Microservices/ClientsMicroservice/.vs
/Microservices/ClientsMicroservice/obj
/Microservices/ClientsMicroservice/bin

/Microservices/ContractsMicroservice/.vs
/Microservices/ContractsMicroservice/obj
/Microservices/ContractsMicroservice/bin

/Microservices/EstatesMicroservice/.vs
/Microservices/EstatesMicroservice/obj
/Microservices/EstatesMicroservice/bin

/Microservices/ListingsMicroservice/.vs
/Microservices/ListingsMicroservice/obj
/Microservices/ListingsMicroservice/bin

/Microservices/ExternalAPIsMicroservice/.vs
/Microservices/ExternalAPIsMicroservice/obj
/Microservices/ExternalAPIsMicroservice/bin

/Microservices/MessagingMicroservice/.vs
/Microservices/MessagingMicroservice/obj
/Microservices/MessagingMicroservice/bin

/Microservices/UtilitiesMicroservice/.vs
/Microservices/UtilitiesMicroservice/bin
/Microservices/UtilitiesMicroservice/obj


/RealEstate.Shared/obj
/RealEstate.ApiGateway/obj
