
.vs/
Microservices/ClientsMicroservice/bin
Microservices/ClientsMicroservice/debug
Microservices/ClientsMicroservice/obj
Microservices/ContractsMicroservice/bin
Microservices/ContractsMicroservice/debug
Microservices/ContractsMicroservice/obj
Microservices/EstatesMicroservice/bin
Microservices/EstatesMicroservice/debug
Microservices/EstatesMicroservice/obj
Microservices/ExternalAPIsMicroservice/bin
Microservices/ExternalAPIsMicroservice/debug
Microservices/ExternalAPIsMicroservice/obj
Microservices/ListingsMicroservice/obj
Microservices/ListingsMicroservice/bin
Microservices/ListingsMicroservice/debug
Microservices/UtilitiesMicroservice/bin
Microservices/UtilitiesMicroservice/debug
Microservices/UtilitiesMicroservice/obj
Microservices/MessagingMicroservice/obj
Microservices/MessagingMicroservice/bin
Microservices/MessagingMicroservice/debug
RealEstate.API/
obj/
bin/


// ignore build logs
*.log
/node_modules
/package-lock.json
/package.json
/pgdata
