@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');

/* start: global styles */
body {
    font-family: "Roboto", "Helvetica", "Sans-serif";
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
}

* {
    outline: none;
}

    *:not(.slick-track):not(.slick-list) {
        transition: 0.4s;
    }

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
    color: white;
}

h2 {
    font-size: 2.5rem;
    color: #f69314;
    margin-bottom: 1rem;
    line-height: 1.2;
    color: black;
}

h3 {
    font-size: 1.4rem;
    font-weight: 300;
}

h4 {
    font-size: 1.2rem;
    font-weight: 300;
}

h5 {
    font-size: 1rem;
    font-family: "Playfair Display", serif;
}

p {
    margin: 0 0 1rem;
}

button.rounded {
    background: #f69314;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
    line-height: 1.5;
    cursor: pointer;
}

p.large-paragraph {
    font-size: 1.25rem;
    font-weight: 300;
}
/* end: global styles */

/* start: header styles */
#header-hero-container {
    min-height: 600px;
    height: calc(100vh);
    position: relative;
}

header {
    background: transparent;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

#logo {
    font-family: "Roboto", "Helvetica", "Sans-serif";
    font-size: 1.7rem;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 4px;
}

.hamburger-menu {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
}

    .hamburger-menu .strip {
        display: block;
        height: 1px;
        background-color: #fff;
        margin: 4px 0;
    }

header ul {
    list-style-type: none;
}

    header ul li {
        display: inline-block;
        margin: 0 15px;
    }

#close-flyout {
    display: none;
}

header ul li a {
    color: #999;
    font-size: 16px;
    text-decoration: none;
}

header ul.is-sticky li a {
    color: #000;
}

header ul li a:hover,
header ul li a.active {
    color: #fff;
}

header ul.is-sticky li a:hover,
header ul.is-sticky li a.active {
    color: #f69314;
}
/* end: header styles */

/* start: hero section styles */
#hero {
    background: url('https://onclickwebdesign.com/wp-content/uploads/hero_1.jpg') center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

    #hero .fade {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(52, 58, 64, 0.8);
        z-index: 1 !important;
        opacity: 1 !important;
    }

    #hero .hero-text {
        position: absolute;
        top: 50%;
        margin: -75px auto 0;
        left: 0;
        right: 0;
        z-index: 2;
        color: #fff;
        width: 500px;
        text-align: center;
    }

        #hero .hero-text p {
            line-height: 1.5em;
            font-weight: 300;
            font-size: 1rem;
        }
/* end: hero section styles */

/* start: how it works styles */
#how-it-works {
    padding: 3rem 0;
    background: #f8f9fa;
    text-align: center;
}

    #how-it-works h2 {
        margin-bottom: 3rem;
    }

    #how-it-works .flex > div {
        width: 30%;
    }

    #how-it-works h4 {
        color: #343a40;
        margin-top: 1rem;
    }

    #how-it-works span.fas {
        color: #f69314;
        font-size: 35px;
    }
/* end: how it works styles */

/* start: properties styles */
#properties {
    margin: 4rem 0 8rem;
    position: relative;
}

    #properties h2 {
        margin-bottom: 3rem;
    }

    #properties .container {
        position: relative;
    }

        #properties .container:before {
            content: "/";
            position: absolute;
            right: 80px;
            top: 18px;
            color: #999;
        }

#properties-slider a.slick-arrow {
    color: #000;
    position: absolute;
    top: -78px;
    right: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

#properties-slider a.slick-prev {
    right: 80px;
}

#properties-slider .slick-slide {
    padding: 0 15px;
}

#properties-slider img {
    display: block;
    width: 240px !important;
    height: 300px !important;
}

#properties-slider .property-details {
    padding: 1rem;
}

#properties-slider .price {
    font-size: 1.2rem;
    color: #343a40;
    font-weight: 800;
    margin: 0 0 0.5rem 0;
}

#properties-slider .property-details span {
    font-size: 0.8rem;
    padding-right: 15px;
}

    #properties-slider .property-details span.baths {
        padding-left: 10px;
    }

    #properties-slider .property-details span.sqft {
        padding-right: 0;
        padding-left: 10px;
    }

    #properties-slider .property-details span.beds,
    #properties-slider .property-details span.baths {
        border-right: 1px solid #888;
    }

#properties-slider .property-details address {
    font-size: 0.8rem;
    font-style: normal;
    margin-top: 0.5rem;
}

#properties button.rounded {
    display: block;
    margin: 2rem auto 0;
    width: 350px;
}
/* end: properties styles */

/* start: agents styles */
#agents {
    margin: 4rem 0 6rem;
    padding: 0 0 6rem;
    border-bottom: 1px solid #ccc;
}

    #agents p.large-paragraph {
        width: 50%;
        margin-bottom: 4rem;
    }

    #agents .flex {
        flex-wrap: wrap;
        padding: 0;
    }

    #agents .card {
        width: 32%;
        background: #f0f0f0;
        margin-bottom: 2rem;
    }

        #agents .card img {
            width: 100%;
        }

        #agents .card h3 {
            font-family: "Playfair Display", serif;
            color: #000;
        }

        #agents .card h3,
        #agents .card p {
            padding-left: 1rem;
        }
/* end: agents styles */

/* start: best real estate company styles */
#the-best {
    margin: 2rem 0;
}

    #the-best .flex > img {
        width: 47%;
    }

    #the-best .flex > div {
        width: 40%;
    }

    #the-best ul {
        padding-left: 20px;
        margin-bottom: 4rem;
    }

        #the-best ul li {
            margin: 10px 0;
        }
/* end: best real estate company styles */

/* start: services styles */
#services {
    background: #f8f9fa;
    padding: 6rem 0;
    margin: 8rem 0;
    border-bottom: 1px solid #dee2e6;
}

    #services h2 {
        text-align: center;
        margin-bottom: 3rem;
    }

    #services .flex {
        flex-wrap: wrap;
    }

        #services .flex > div {
            width: 30%;
            margin-bottom: 2rem;
        }

            #services .flex > div .fas {
                color: #f69314;
                font-size: 40px;
                float: left;
                margin-top: 15px;
                width: 20%;
                text-align: center;
            }

            #services .flex > div .services-card-right {
                float: right;
                width: 75%;
            }

            #services .flex > div a {
                color: #f69314;
                text-decoration: none;
            }

                #services .flex > div a:hover {
                    text-decoration: underline;
                }
/* end: services styles */

/* start: testimonials styles */
#testimonials {
    margin-bottom: 8rem;
}

    #testimonials h2 {
        text-align: center;
    }

#testimonials-slider .slick-slide {
    text-align: center;
}

#testimonials-slider blockquote {
    font-size: 1.5rem;
    font-style: italic;
    margin: 1rem auto 3rem;
    max-width: 740px;
}

#testimonials-slider .testimonials-caption {
    width: 200px;
    margin: 0 auto;
}

    #testimonials-slider .testimonials-caption img {
        float: left;
        border-radius: 30px;
        width: 60px;
    }

.testimonials-caption p {
    position: relative;
    top: 13px;
    font-size: 1.2rem;
}

#testimonials-slider .slick-arrow {
    text-decoration: none;
    position: absolute;
    font-size: 40px;
    color: #222;
    top: 50%;
    margin-top: -35px;
    z-index: 1;
}

#testimonials-slider .slick-next {
    right: 0;
}
/* end: testimonials styles */

/* start: contact us styles */
#contact {
    background: #f8f9fa;
    padding: 4rem 0 8rem;
}

    #contact h2 {
        text-align: center;
        margin-bottom: 4rem;
    }

#form-container {
    width: 58%;
    background: #fff;
    padding: 3rem;
    box-sizing: border-box;
    height: 0%;
}

    #form-container h3 {
        color: #000;
        font-family: "Playfair Display", serif;
        margin-bottom: 2rem;
    }

    #form-container label {
        display: block;
        color: #000;
        margin-top: 1rem;
    }

    #form-container input,
    #form-container textarea {
        display: block;
        border-radius: 20px;
        padding: 10px;
        border: 1px solid #ced4da;
        width: 100%;
        box-sizing: border-box;
        height: 43px;
        font-family: "Roboto", "Helvetica", "Sans-serif";
        font-size: 1rem;
        color: #495057;
    }

    #form-container textarea {
        height: 170px;
        margin-bottom: 2rem;
        resize: none;
    }

#address-container {
    width: 38%;
    background: #fff;
    padding: 1.5rem;
    box-sizing: border-box;
    height: 0%;
}

    #address-container label {
        font-weight: 700;
        display: block;
        margin-top: 2rem;
    }

        #address-container label:first-child {
            margin-top: 0;
        }

    #address-container address {
        margin-bottom: 1.5rem;
        font-style: normal;
    }

    #address-container a {
        text-decoration: none;
        color: #f69314;
    }

        #address-container a:hover {
            text-decoration: underline;
        }
/* end: contact us styles */

/* start: footer styles */
footer {
    background: #333;
    padding: 8rem 0;
}

    footer .flex {
        padding-bottom: 6rem;
        border-bottom: 1px solid #777;
    }

    footer h5 {
        color: #fff;
        margin-bottom: 1rem;
        font-weight: 300;
    }

        footer h5.follow-us {
            margin-top: 1rem;
        }

    footer .footer-about {
        width: 47%;
    }

        footer .footer-about p {
            width: 65%;
        }

    footer .footer-quick-links {
        width: 16%;
    }

        footer .footer-quick-links ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

            footer .footer-quick-links ul li {
                margin: 10px 0;
            }

                footer .footer-quick-links ul li a {
                    color: #777;
                    text-decoration: none;
                }

                    footer .footer-quick-links ul li a:hover {
                        color: #fff;
                    }

    footer .footer-subscribe {
        width: 35%;
    }

#subscribe-container {
    position: relative;
}

footer .footer-subscribe input {
    border-radius: 30px;
    height: 43px;
    font-family: "Roboto", "Helvetica", "Sans-serif";
    border: 1px solid #6c757d;
    background-color: transparent;
    font-size: 1rem;
    padding: 10px;
    color: #fff;
    box-sizing: border-box;
    width: 80%;
}

footer button.right-rounded {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #f69314;
    font-size: 16px;
    color: #000;
    padding: 10px 30px 9px;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 0;
}

    footer button.right-rounded:hover {
        background: #fff;
    }

footer .footer-subscribe ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    footer .footer-subscribe ul li {
        display: inline-block;
        margin: 0 16px;
    }

        footer .footer-subscribe ul li:first-child {
            margin-left: 0;
        }

        footer .footer-subscribe ul li a {
            text-decoration: none;
            color: #777;
        }

            footer .footer-subscribe ul li a:hover {
                color: #fff;
            }

footer small {
    margin-top: 3rem;
    font-size: 1rem;
    display: block;
    text-align: center;
}

    footer small a {
        color: #777;
        text-decoration: none;
    }

        footer small a:hover {
            color: #fff;
        }
/* end: footer styles */